body{
    background:no-repeat linear-gradient(to bottom right, rgb(121, 217, 217) 20%,rgb(115, 156, 227) 50%, rgb(122, 71, 122));
height: 100vh;
}
.head{
    /* border: 1px solid red; */
    background-color: white;
    height: 500px;
    width: 60%;
    margin-left: 260px;
    margin-top: 100px;
    padding: 20px;
}
.hh{
    /* background-color: blue; */
    display: flex;
}
.h1{
    /* display: flex; */
    width: 50%;
}
.tt{
    height: 30px;
    width: 90%;
    border-radius: 5px;
}
p{
    font-size: 15px;
    font-weight: bold;
}
.end{
    /* background-color: blue; */
    height: 50px;
}
.radio{
    width: 100%;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
}
.rr{
    width: 30%;
}
.r1{
    width: 30%;
}
.r2{
    /* width: 3%; */
    justify-content: center;

}
.button{
    background:no-repeat linear-gradient(to bottom right, rgb(121, 217, 217) 20%,rgb(115, 156, 227) 50%, rgb(122, 71, 122));
    height: 35px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-decoration: none; */
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
} 